<% content_for(:page_title, I18n.t("spree.product_customization_types")) %>
<% content_for(:page_actions) do %>
  <%= link_to I18n.t("spree.new_product_customization_type"), spree.new_admin_product_customization_type_url, class: 'fa fa-add btn-success', id: 'new_product_customization_type_link' %>
<% end %>

<% if @product_customization_types.any? %>
  <table class="table" id='product_customization_types' data-hook>
    <thead>
      <tr data-hook="product_customization_types_header">
        <th><%= I18n.t("spree.name") %></th>
        <th><%= I18n.t("spree.presentation") %></th>
        <th><%= I18n.t("spree.description") %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @product_customization_types.each do |product_customization_type| %>
        <tr id="<%= spree_dom_id(product_customization_type) %>">
          <td class='name'><%= product_customization_type.name %></td>
          <td class='presentation'><%= product_customization_type.presentation %></td>
          <td class='description'><%= product_customization_type.description %></td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit(product_customization_type, no_text: true, class: 'admin_edit_product_customization_type') %>
            <%= link_to_delete(product_customization_type, no_text: true) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= I18n.t(:no_resource, scope: :spree, resource: Spree::ProductCustomization.model_name.human(count: :other)) %>,
    <%= link_to I18n.t(:add_one, scope: :spree), spree.new_admin_product_customization_type_url %>!
  </div>
<% end %>
