<h5><%= option.presentation %></h5>
<% if option.description == nil or option.description == "" or !JSON.parse(option.description).is_a? Hash %>
	<p>No selectable options provided</p>
<% else %>
	<% JSON.parse(option.description).each_with_index do |kv, index| %>
		<label><input type="checkbox" name="<%= "#{param_prefix}[#{option.id}]" %>" id="<%= "customize-option-#{option.id}-#{index}" %>" value="<%= kv[1] %>" class="customization"> <%= kv[0] %></label><br>
	<% end %>
<% end %>