<% # render the (possibly shared) calculator %>
<%= render partial: "spree/products/customizations/calculator/#{calculator_name(product_customization_type)}", locals: {calculator: product_customization_type.calculator} %>
<% # add the 'change' listener for this particular file input, which will make use of the calculator above %>

<%= content_for :flexi_variants_body_js do %>
  <%= javascript_tag do %>
    function product_area_keyup() {
      var text_field = $(this);

      delay(function(){

        // update the hidden price field for this file input
        $(text_field).parent().parent().find(".customization_price").val(calculate_product_area_price(text_field));
        updatePrice();
      }, 1000 ); // delay
    }; // keyup

    $(document).on('keyup', '.<%= product_customization_type.name.parameterize %> .customization', product_area_keyup);
  <% end %>
<% end %>

<div class="col-md-<%= Spree.t(:variant_col_size) %> form-group <%= product_customization_type.name.parameterize %>">
  <% if product_customization_type.description %>
    <p><%= product_customization_type.description  %></p>
  <% end %>

  <% product_customization_type.customizable_product_options.each do |cpo| %>
    <%= render "spree/products/customizations/fields/#{cpo.data_type}", option: cpo, param_prefix: param_prefix, dom_id: "product_area_input_#{cpo.id}" %>
  <% end %>

  <%# the price is stored here on change, and later collected by the product-wide updatePrice() %>
  <%= hidden_field_tag "customization_price", "0", class: "customization_price" %>
</div>
