    <%= form_for(ahot, url: admin_product_ad_hoc_option_type_url(@product, ahot), html: { method: :put }) do |f| %>

    <tr>
      <td><%= ahot.option_type.name %></td>
      <td><%= ahot.option_type.presentation %></td>
      <td><%= ahot.is_required %></td>
      <td class="actions">
      <%= link_to_with_icon 'delete',  I18n.t("spree.remove"), admin_product_ad_hoc_option_type_url(@product, ahot) %>
      </td>
    </tr>


    <tr>
      <td colspan="4">
        <h3><%= I18n.t("spree.option_values") %></h3>
        <table class="index">
          <thead>
            <tr>
              <th><%= I18n.t("spree.name") %></th>
              <th><%= I18n.t("spree.display") %></th>
              <th><%= I18n.t("spree.price_modifier") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="option_values">
            <%= f.fields_for :option_values do |option_value_form| %>
              <%= render partial: "option_value_fields", locals: {f: option_value_form} %>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>

    <p class="form-buttons">
      <%= button I18n.t("spree.update") %>
      <%= I18n.t("spree.or") %> <%= link_to I18n.t("spree.cancel"), admin_product_ad_hoc_option_types_url(@product) %>
    </p>

<% end %>
